*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16b1e0;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;

        --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
              0.125em 0.125em 0.25em rgba(0,0,0,.15);
    }
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

@media (max-width: 330px) {
    
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 3px;
}

strong { 
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: 3px;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

.logo__text {
    font-size: 2rem;
    font-family: var(--ff-secondary);
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { 
    font-size: var(--fs-h1); 
}
h2 { 
    font-size: var(--fs-h2);
}
h3 { 
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .25em;
   
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__title--work,
.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* Header/Navigation */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translate(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: 30px;
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}
.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* Intro Section */

.intro__img {
    /* box-shadow: var(--bs); */
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (max-width: 599px) {
    .section__subtitle--intro {
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    }
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
        
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
    }
}

/* My Services  */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.fa-check {
    color: var(--clr-accent);
}

.icon-mobile-device,
.icon-database-alt2,
.icon-line-graph {
    color: var(--clr-accent);
    font-size: 35px;
    margin-left: 1.5em;
}

.service__title {
    font-size: 30px;
    text-align: center;
    
}

.skill-name {
    font-size: 20px;
    text-align: left;
}

@media (min-width: 767px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .services {
        margin-left: 2em;
    }
}

@media (max-width: 766px) {

    #services {
        text-align: center;
        
    }

    .services {
        margin: 1em;
    }

    .service {
        position: relative;
        text-align: center;
        padding: 1em;  
    }

    .icon-mobile-device,
    .icon-database-alt2,
    .icon-line-graph {
        margin-right: 1.5em;
    }
}

@media (max-width: 330px) {
    .portfolio__item {
        position: static;
        margin-right: 2.5em;
    }
}

@media (max-width: 280px) {

    span.logo__text {
        font-size: 26px;
    }

     #services {
        text-align: center;
    }

    .services {
        margin: 1em;
    }

    .service {
        position: relative;
        text-align: center;
        padding: 1em;
    }

    .icon-mobile-device,
    .icon-database-alt2,
    .icon-line-graph {
        margin-right: 1.5em;
    }

    .portfolio {
        text-align: center;
    }

}

/* About Me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    width: 100%;
    height: auto;
}

.about-me__img2 {
    position: relative;
    top: 2em;
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Work */

.section__subtitle--work {
    text-align: left;
    position: relative;
}

.line-divider {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
}

@media (min-width: 1025px) {

    .section__subtitle--work {
        text-align: center;
        font-size: 30px;
        /* position: relative;  */
    }
}

    .my-work {
        background-color: var(--clr-dark);
        color: var(--clr-light);
        text-align: center;
}

    .portfolio {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        max-width: 1200px;
        margin: 0 auto;
        grid-gap: 35px;
}

    .portfolio__item {
        background: var(--clr-accent);
        overflow: hidden;
}

    .portfolio__img {
        border-radius: 5px 5px 0px 0px;
        width: auto;
        height: auto;
}

    .portfolio__item:focus {
        position: relative;
        z-index: 2;
}

    .p1:hover,
    .portfolio__item:focus .p1 {
        transform: scale(1.1);
}

    .p1 {
        border: none;
        border-radius: 5px;
        transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
        height: auto;
        -webkit-box-shadow: 0px 2px 12px -2px rgba(255,252,255,1);
        -moz-box-shadow: 0px 2px 12px -2px rgba(255,252,255,1);
        box-shadow: 0px 2px 12px -2px rgba(255,252,255,1);
        background-color: whitesmoke;
}

    .project-title {
        color: var(--clr-accent);
        margin-top: 15px;
}

    .project-description {
        text-align: left;
        margin: 5px;
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 10px;
        font-size: small;
        color: var(--clr-dark);
}

    .stack-title {
        font-size: medium;
        color: var(--clr-dark);
}

    .stack-list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin-right: 2em;
        font-size: small;
        color: var(--clr-dark);
}

    .link-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1em;
        padding: 10px;
}

    .link-container > a {
        border: 1px solid #3F3D56;
        border-radius: 15px;
        padding: 0px 8px 0px 8px;
        background: #3F3D56;
        color: var(--clr-light);
}

    .link-container > a:hover {
        color: var(--clr-accent);
        -webkit-box-shadow: 0px 2px 12px -2px black;
        -moz-box-shadow: 0px 2px 12px -2px black;
        box-shadow: 0px 2px 12px -2px black;
}

    .project-link {
        text-decoration: none;
        color: var(--clr-accent);
}

@media (max-width: 320px) {

    .portfolio {
        position: relative;
    }

    .p1 {
        width: 16em;
    }

    .portfolio__img {
        position: relative;
        width: 18em;
    }
}

@media (max-width: 280px) {
    .p1 {
        width: 14em;
    }

    .list-item {
        padding: 4px;
    }
}

/* Footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: left;
    padding: 1em;
    font-size: var(--fs-h3);
}

@media (max-width: 320px) {  /* Cell Phone Screens Small*/
    .heading1 {
        font-size: 12px;
    }

    .heading2 {
        color: var(--clr-light);
        margin-top: -15px;
    }

    .footer-image > img {
        width: 250px;
        margin-top: 10px;
    }

    .logo2 {
        margin-top: 1em;
        font-size: 25px;
        color: #A3ABB5;
    }

    .logo-pitch {
        font-size: 15px;
        color: var(--clr-light);
    }

    .footer-links-1 {
        list-style-type: none;
        font-size: 15px;
    }

    .footer-item {
        margin-right: 10em;
        position: relative;
        right: 40px;
    }

    .footer-item > a {
        text-decoration: none;
        color: var(--clr-light);
        cursor: pointer;
        color: #A3ABB5;
    }

    .footer-b3 {
        font-size: 15px;
        margin-top: 1em;
    }

    .footer__link {
        font-size: 15px;
        color: #A3ABB5;
        text-decoration: none;
        cursor: pointer;
    }

    .social-list {
        display: flex;
        list-style: none;
        
    }

    .social-list__item {
        margin-right: 58px;
        margin-top: 10px;
    }

    .fa-facebook,
    .fa-linkedin,
    .fa-twitter-square,
    .fa-github {
        color: #A3ABB5;
        position: relative;
        right: 2em;
        top: 5;
        cursor: pointer;
        font-size: 20px;
    }

    small {
        font-size: 10px;
    }

}

@media (min-width: 321px) and (max-width: 767px) {  /* Cell Phone Screens*/

    .heading1 {
        font-size: 12px;
    }

    .heading2 {
        color: var(--clr-light);
        margin-top: -15px;
    }

    .footer-image > img {
        width: 250px;
        margin-top: 10px;
    }

    .logo2 {
        margin-top: 1em;
        font-size: 25px;
        color: #A3ABB5;
    }

    .logo-pitch {
        font-size: 15px;
        color: var(--clr-light);
    }

    .footer-links-1 {
        list-style-type: none;
        font-size: 15px;
    }

    .footer-item {
        margin-right: 10em;
        position: relative;
        right: 40px;
    }

    .footer-item > a {
        text-decoration: none;
        color: var(--clr-light);
        cursor: pointer;
        color: #A3ABB5;
    }

    .footer-b3 {
        font-size: 15px;
        margin-top: 1em;
    }

    .footer__link {
        font-size: 15px;
        color: #A3ABB5;
        text-decoration: none;
        cursor: pointer;
    }

    .social-list {
        display: flex;
        list-style: none;
    }

    .social-list__item {
        margin-right: 58px;
        margin-top: 10px;
    }

    .fa-facebook,
    .fa-linkedin,
    .fa-twitter-square,
    .fa-github {
        color: #A3ABB5;
        position: relative;
        right: 2em;
        top: 5;
        cursor: pointer;
        font-size: 20px;
    }

    small {
        font-size: 10px;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {    /* Tablet Screens*/

    .footer-container1 {
        display: flex;
        justify-content: space-between;
    }

     .heading1 {
        font-size: 12px;
    }

    .heading2 {
        color: var(--clr-light);
        margin-top: -10px;
        font-size: 35px;
    }

    .footer-image > img {
        width: 250px;
        margin-top: 10px;
        margin-right: 1em;
    }

    .footer-container2 {
        display: flex;
    }

    .logo2 {
        font-size: 25px;
        color: #A3ABB5;
    }

    .logo-pitch {
        font-size: 15px;
        color: var(--clr-light);
    }

    .footer-b1 {
        width: 300px;
    }

    .footer-b2 {
        margin-top: 1em;
    }

    .footer-links-1 {
        list-style-type: none;
        font-size: 15px;
    }

    .footer-item > a {
        text-decoration: none;
        color: var(--clr-light);
        cursor: pointer;
        color: #A3ABB5;
    }

    .footer-b3 {
        margin-top: .2em;
    }

    .footer__link {
        font-size: 15px;
        color: #A3ABB5;
        text-decoration: none;
        cursor: pointer;
    }

    .social-list {
        display: flex;
        list-style: none;
    }

    .social-list__item {
        margin-right: 14px;
    }

    .fa-facebook,
    .fa-linkedin,
    .fa-twitter-square,
    .fa-github {
        color: #A3ABB5;
        position: relative;
        right: 2em;
        top: 5;
        cursor: pointer;
        font-size: 20px;
    }

    small {
        font-size: 15px;
    }
}

@media (min-width: 1024px) and (max-width: 1299px) {

    .footer-container1 {
        display: flex;
        justify-content: space-between;
        
    }

     .heading1 {
        font-size: 18px;
    }

    .heading2 {
        color: var(--clr-light);
        margin-top: -10px;
        font-size: 35px;
    }

    .footer-image > img {
        width: 300px;
    }

    .footer-container2 {
        display: flex;
        justify-content: space-between;
    }

    .logo2 {
        font-size: 35px;
        color: #A3ABB5;
    }

    .logo-pitch {
        font-size: 15px;
        color: var(--clr-light);
    }

    .footer-b2 {
        margin-top: 1em;
    }

    .footer-links-1 {
        list-style-type: none;
        font-size: 15px;
    }

    .footer-item > a {
        text-decoration: none;
        color: var(--clr-light);
        cursor: pointer;
        color: #A3ABB5;
    }

    .footer-b3 {
        margin-top: .2em;
    }

    .footer__link {
        font-size: 15px;
        color: #A3ABB5;
        text-decoration: none;
        cursor: pointer;
    }

    .social-list {
        display: flex;
        list-style: none;
    }

    .social-list__item {
        margin-right: 14px;
    }

    .fa-facebook,
    .fa-linkedin,
    .fa-twitter-square,
    .fa-github {
        color: #A3ABB5;
        position: relative;
        right: 2em;
        top: 5;
        cursor: pointer;
        font-size: 20px;
    }

    small {
        font-size: 15px;
    }
}

@media (min-width: 1300px) {

    .footer-inner {
        margin-left: 3em;
    }

    .footer-container1 {
        display: flex;
        justify-content: space-between;
    }

     .heading1 {
        font-size: 15px;
    }

    .heading2 {
        color: var(--clr-light);
        margin-top: -10px;
        font-size: 30px;
    }

    .footer-image > img {
        width: 350px;
        margin-right: 4em;
    }

    .footer-container2 {
        display: flex;
        justify-content: space-between;
    }

    .logo2 {
        font-size: 30px;
        color: #A3ABB5;
    }

    .logo-pitch {
        font-size: 18px;
        color: var(--clr-light);
    }

    .footer-b2 {
        margin-top: 1em;
    }

    .footer-links-1 {
        list-style-type: none;
        font-size: 20px;
    }

    .footer__link:hover {
        color: var(--clr-accent);
    }

    .footer-item > a {
        text-decoration: none;
        color: var(--clr-light);
        cursor: pointer;
        color: #A3ABB5;
    }

    .footer-item > a:hover {
        color: var(--clr-accent);
    }

    .footer-b3 {
        margin-top: .2em;
    }

    .footer-b3 > p {
        font-size: 20px;
    }

    .footer__link {
        font-size: 20px;
        color: #A3ABB5;
        text-decoration: none;
        cursor: pointer;
    }

    .social-list {
        display: flex;
        list-style: none;
    }

    .social-list__item {
        margin-right: 70px;
    }

    .fa-facebook,
    .fa-linkedin,
    .fa-twitter-square,
    .fa-github {
        color: #A3ABB5;
        position: relative;
        right: 1.5em;
        top: 5;
        cursor: pointer;
        font-size: 25px;
    }

    .fa-facebook:hover {
        color: var(--clr-accent);
    }

    .fa-linkedin:hover {
        color: var(--clr-accent);
    }

    .fa-twitter-square:hover {
        color: var(--clr-accent);
    }

    .fa-github:hover {
        color: var(--clr-accent);
    }

    small {
        font-size: 15px;
    }
}

.cs-image {
    width: 10px;
}

/* --------------------- */

/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.fa-arrow-alt-circle-left {
    font-size: 35px;
    color: var(--clr-accent);
}

.access-links {
    cursor: pointer;
    text-decoration: none;
}


/* .portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
} */